In [1]:
import pandas as pd
import requests
from datetime import datetime

In [2]:
df = pd.read_excel('Target.xlsx')
df

     symbol    name type
0   2330.TW     台積電  科技股
1   2454.TW     聯發科  科技股
2   2317.TW      鴻海  科技股
3   0050.TW  元大台灣50  ETF
4   0056.TW   元大高股息  ETF
5   2412.TW    中華電信  傳產股
6   2884.TW     玉山金  金融股
7   2886.TW     兆豐金  金融股
8   2891.TW     中信金  金融股
9   2603.TW      長榮  海運股
10  2609.TW      陽明  海運股
11  2615.TW      萬海  海運股

In [3]:
symbol_list = df['symbol'].tolist()
symbol_list

['2330.TW',
 '2454.TW',
 '2317.TW',
 '0050.TW',
 '0056.TW',
 '2412.TW',
 '2884.TW',
 '2886.TW',
 '2891.TW',
 '2603.TW',
 '2609.TW',
 '2615.TW']

In [4]:
def timestamp_to_datetime(timestamp):
    datetime_object = datetime.fromtimestamp(timestamp)
    year = datetime_object.year
    month = datetime_object.month
    day = datetime_object.day
    return '{:04d}-{:02d}-{:02d}'.format(year, month, day)

In [5]:
timestamp_start = datetime(2000, 1, 1).timestamp()
timestamp_end = datetime.timestamp(datetime.now())
print(timestamp_to_datetime(timestamp_start))
print(timestamp_to_datetime(timestamp_end))

2000-01-01
2021-07-12

In [6]:
path = 'api-key/api-key.txt'
with open(path) as f:
    api_key = f.readline()

In [7]:
%%time
for symbol in symbol_list:
    url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"
    querystring = {
        "period1":int(timestamp_start),
        "period2":int(timestamp_end),
        "symbol":"{}".format(symbol),
        "frequency":"1d",
        "filter":"history"
    }
    headers = {
        'x-rapidapi-key': "{}".format(api_key),
        'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com"
        }
    response = requests.request("GET", url, headers=headers, params=querystring)
    print('{} {}'.format(symbol, response))
    path = 'data/{}.json'.format(symbol)
    with open(path, 'w') as f:
        f.write(response.text)
    print('{} done'.format(symbol))

2330.TW <Response [200]>
2330.TW done
2454.TW <Response [200]>
2454.TW done
2317.TW <Response [200]>
2317.TW done
0050.TW <Response [200]>
0050.TW done
0056.TW <Response [200]>
0056.TW done
2412.TW <Response [200]>
2412.TW done
2884.TW <Response [200]>
2884.TW done
2886.TW <Response [200]>
2886.TW done
2891.TW <Response [200]>
2891.TW done
2603.TW <Response [200]>
2603.TW done
2609.TW <Response [200]>
2609.TW done
2615.TW <Response [200]>
2615.TW done